@model Entities.Concrete.Heading
@{
    ViewBag.Title = "AddHeading";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Başlık Ekleme</h2>
<br />
@using (Html.BeginForm("AddHeading", "Heading", FormMethod.Post))
{
<div class="form-group">
    @Html.Label("Başlık Adı")
    @Html.TextBoxFor(x => x.HeadName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.HeadName)
    <br />
    @Html.Label("Başlığın Kategorisi")
    @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.vlc, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryID)
    <br />
    @Html.Label("Başlığın Yazarı")
    @Html.DropDownListFor(x => x.WriterID, (List<SelectListItem>)ViewBag.wlc, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.WriterID)
    <br />
    <button class="btn btn-info">Başlık Oluştur</button>

</div>
}

